.center-cropped {
  width: 20em;
  height: 20em;
  max-width: 500px;
  max-height: 500px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.infoParent .imageInfo {
  visibility: hidden;
}

.infoParent:hover .imageInfo {
  visibility: visible;
}

.tabList {
  width: 80vw;
height: 35px;
  display: flex;
  justify-content: space-around;
  margin-top: 4em;
  border-bottom-style: solid none;
  border-bottom-width: thin;

  box-shadow: rgba(170, 212, 4, 0.471) 0px 10px 20px -10px;
  overflow-x: wrap;
  overflow-y: hidden;
}

.react-tabs {
  -webkit-tap-highlight-color: transparent;
}

.react-tabs__tab-list {
  border-bottom: 1px solid #aaa;
  margin: 0 0 10px;
  padding: 0;
}

.react-tabs__tab {
  display: inline-block;
  font-family: josefin_sans;
  border: 1px solid transparent;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
}

.react-tabs__tab--selected {
  background: rgba(223, 237, 165, 0.471);
  border-color: rgba(223, 237, 165, 0.471);
  color: rgb(86, 81, 81);
  border-radius: 5px 5px 0 0;
}

.react-tabs__tab--disabled {
  color: grey;
  cursor: default;
}

.react-tabs__tab:focus {
  outline: none;
}

.react-tabs__tab:focus:after {
  content: '';
  position: absolute;
  height: 5px;
  left: -4px;
  right: -4px;
  bottom: -5px;
  background: rgba(236, 248, 188, 0.471);
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
}
